@import '../variables.scss';

[data-completed='true'] {
    text-decoration: line-through;
}

[data-completed='false'] {
    text-decoration: none;
}

.todoContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .list {
        list-style-type: none;
        padding-left: 0;
        border-left: 1px solid white;
        border-right: 1px solid white;
        background: url('../img/redux-icon.png') center, $boxes;
        background-repeat: no-repeat;
        min-height: 422px;
        margin: 0;


        div {
            border-bottom: 1px solid white;
            background: rgba(255,255,255,0.6);
            display: flex;
            justify-content: center;
            align-items: center;

            li {
                margin: 10px 0;
                margin-right: 5px;
                width: 260px;
                border-radius: 5px;
            }

            button {
                height: 20px;
            }
        }
        
        div:last-child {
            border: none;
        }
    }

    .buttonContainer {
        background: $darkText;
        padding: 10px 0;
        border-radius:  0 0 5px 5px;
    }
}