@import '../variables.scss';

[data-completed='true'] {
    text-decoration: line-through;
}

[data-completed='false'] {
    text-decoration: none;
}

.todoContainer {
    background: $boxes;

    p {
        margin: 0;
    }

    .list {
        list-style-type: none;
        padding-left: 0;
        border-right: 1px solid white;
        border-left: 1px solid white;


        div {
            border-bottom: 1px solid white;
            display: flex;
            justify-content: center;
            align-items: center;

            li {
                width: 345px;
                margin: 10px 0;
                margin-right: 5px;
            }

            button {
                height: 20px;
            }
        }
        
        div:last-child {
            border: none;
        }
    }

    .btns {
        background: $darkText;
        padding: 10px 0;
        border-radius:  0 0 5px 5px;
    }
}